* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

input {
  border: none; /* Removes default border */
  outline: none; /* Removes the orange focus outline */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Forces white background */
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important; /* Ensures white background */
  color: transparent !important; /* Sets text color */
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #fff;
  padding: 3rem;
}

.login-form-left {
  display: none;
}

/* Header Styling */

header {
  display: flex; /* Sets the dispaly to a felx box */
  flex-direction: column; /* Sets the flex box direction */
  justify-content: center; /* Makes all the items center on their horizontal line */
  align-items: center; /* Make the items center on the vertical line */
  gap: 1rem; /* Sets gap between items */
}

header img {
  max-width: 50px;
  aspect-ratio: 1/1;
}

header h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

header p {
  font-size: 0.7rem;
  font-weight: 400;
}

/* End Header Styling */

/* Main Styling */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

main fieldset {
  width: 80vw;
  max-width: 400px;
  border: none;
}

main legend {
  font-size: 1rem;
  font-weight: 500;
}

.input-wrapper {
  position: relative;
  padding: 5px 10px;
  padding-left: 0;
  width: 80vw;
  max-width: 400px;
}

main input {
  background-color: transparent;
  border: none;
  padding: 10px 5px;
  padding-left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 200ms;
}

.input-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition-duration: 500ms;
}

main input:active,
main input:focus {
  padding-left: 5px;
}

.input-wrapper:has(input:focus)::after {
  background-color: rgb(112, 104, 228);
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 80vw;
  max-width: 400px;
}

.checkbox-input {
  width: 12px;
}

.checkbox-wrapper p {
  font-size: 0.7rem;
  font-weight: 400;
}

.checkbox-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

form a,
.anchor-bottom {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

form a:hover,
.anchor-bottom {
  color: rgb(57, 55, 97);
  font-size: 0.7rem;
}

form button {
  padding: 10px;
  width: 100%;
  background-color: black;
  color: #e9e9e9;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  border: 1px solid transparent;
  transition-duration: 200ms;
}

form button:hover {
  background-color: rgb(69, 64, 139);
  cursor: pointer;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  border: 1px solid transparent;
  transition-duration: 200ms;
}

.google-btn img {
  width: 15px;
  aspect-ratio: 1/1;
}

.google-btn:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

@media (min-width: 1240px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #e9e9e9;
    padding: 50px;
    max-width: 1500px;
  }

  .login-form-right {
    max-height: 80vh;
    flex: 1;
    max-width: 600px;
    border-radius: 20px;
  }

  .login-form-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: transparent;
    flex: 1;
    padding: 20px;
  }

  .login-form-left img {
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
  }
}
